git+https://github.com/pyrogram/pyrogram@master
TgCrypto==1.2.2
py-tgcalls==0.9.7
python-dotenv
youtube_dl
youtube_search_python
youtube-dl
pytube
youtube_search
requests
psycopg2-binary 
ffmpeg-python
moviepy
aiohttp
aiofiles
pillow
python-arq
future
psutil
wget
tswift
